.txt {
  text-align: center;
  background-image: url('bmi2.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 550px;
  opacity: 1.0;
}

.m {
  width: 200px;
  padding: 10px;
  margin: 10px;
  margin-left: 30px;
}

.ma {
  padding: 10px 20px;
  margin-top: 10px;
}
#input{
  margin: auto;
}
.box{
  opacity:9.0 ;
  width:300px;
  background-color: rgba(123, 116, 131, 0.699);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
 

}